@page
@model RazorPagesWithCRUD.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<p>Enter you Name : </p>
<form method="post">
    @*<div asp-validation-summary="All"></div>*@
    <div>Name : <input asp-for="Customer.Name"/>
                <span asp-validation-for="Customer.Name" ></span>
    </div>
    
    <input type="submit" value="Create New Customer"/>
</form>